:root {
  --background: #d9d9d9;
  --border-radius: 0.5rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
  background-color: var(--background);
}

main {
  text-align: center;
  height: 100vh;
}
.main-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  position: relative;
  top: 1rem;
}
.menu,
.game-over-menu {
  height: 150px;
  padding: 30px 80px;
  border: 1px solid;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}
.menu h2 {
  margin-bottom: 30px;
}
#play,
#play-again {
  padding: 10px 0;
  border-radius: var(--border-radius);
  border: none;
  border: 1px solid;
  transition: all 0.4s ease;
}
#play:hover,
#play-again:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
.game-over-menu {
  display: none;
}
.game-container {
  width: 50%;
  height: 70%;
  max-width: 880px;
  max-height: 675px;
  /* min-width: 670px;
  min-height: 539px; */
  background-color: aliceblue;
  margin: 5vh auto;
  border-radius: var(--border-radius);
  border: 2px solid;
  display: none;
}

.card-container {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 30%;
  height: 20%;
  background-color: palegoldenrod;
  border: 2px solid;
  margin: 0.25rem 0.5rem 0 0.5rem;
  padding: 1rem;
  min-width: 200px;
  border-radius: var(--border-radius);
  transition: all 1s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform: perspective(1000px);
  -moz-transform: perspective(1000px);
}

.card:hover {
  cursor: pointer;
}

.card:before {
  content: "";
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid;
  border-radius: var(--border-radius);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  transform: perspective(-1000px);
  -moz-transform: perspective(-1000px);
}

.card.clicked {
  transform: rotateY(180deg);
}

.card.clicked:after {
  content: "";
  right: 0px;
  bottom: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid;
  border-radius: var(--border-radius);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.card.one:after,
.card.one:before {
  background: url("./images/1.png") center center / contain no-repeat;
}

.card.two:after,
.card.two:before {
  background: url("./images/2.png") center center / contain no-repeat;
}

.card.three:after,
.card.three:before {
  background: url("./images/3.png") center center / contain no-repeat;
}

.card.four:after,
.card.four:before {
  background: url("./images/4.png") center center / contain no-repeat;
}

.card.five:after,
.card.five:before {
  background: url("./images/5.png") center center / contain no-repeat;
}

.card.six:after,
.card.six:before {
  background: url("./images/6.png") center center / contain no-repeat;
}

.score-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  background-color: aliceblue;
  border-radius: var(--border-radius);
  border: 2px solid;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1310px) {
  .game-container {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .game-container {
    width: 95%;
  }
  .card {
    min-width: 0;
  }
}
@media screen and (max-width: 540px) {
  .game-container {
    width: 97.5%;
  }
  .card {
    width: 32%;
    margin: 0.1rem 0.1rem 0 0.1rem;
  }
}
