:root {
  --background: #d9d9d9;
  --border-radius: 0.5rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
  background-color: var(--background);
}

main {
  text-align: center;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  top: -2rem;
}

.menu,
.game-over-menu {
  height: 150px;
  padding: 30px 80px;
  border: 1px solid;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.menu h2 {
  margin-bottom: 30px;
}

#play,
#play-again {
  padding: 10px 0;
  border-radius: var(--border-radius);
  border: none;
  border: 1px solid;
  transition: all 0.4s ease;
}

#play:hover,
#play-again:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.game-over-menu {
  display: none;
}

.game-container {
  width: 50%;
  height: 70%;
  max-width: 880px;
  max-height: 675px;
  /* min-width: 670px;
  min-height: 539px; */
  background-color: aliceblue;
  margin: 5vh auto;
  border-radius: var(--border-radius);
  border: 2px solid;
  display: none;
}

.card-container {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-wrapper {
  width: 30%;
  height: 20%;
  border: 2px solid;
  margin: 0.25rem 0.5rem 0 0.5rem;
  min-width: 200px;
  border: 1px solid rgba(204, 204, 204, 0.336);
  border-radius: var(--border-radius);
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.clicked {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  border-radius: var(--border-radius);
  color: white;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face.front {
  background: url("./images/suggestion.png"), white;
  background-position: center center;
  background-size: 30%;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.one .card-face.back {
  background: url("./images/1.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}
.two .card-face.back {
  background: url("./images/2.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}
.three .card-face.back {
  background: url("./images/3.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}
.four .card-face.back {
  background: url("./images/4.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}
.five .card-face.back {
  background: url("./images/5.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}
.six .card-face.back {
  background: url("./images/6.png") center center / 25% no-repeat padding-box,
    hsl(172, 23%, 68%);
  transform: rotateY(180deg);
}

.score-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  background-color: aliceblue;
  border-radius: var(--border-radius);
  border: 2px solid;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1310px) {
  .game-container {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .game-container {
    width: 95%;
  }

  .card-wrapper {
    min-width: 0;
  }
}

@media screen and (max-width: 540px) {
  .game-container {
    width: 97.5%;
  }

  .card-wrapper {
    width: 32%;
    margin: 0.1rem 0.1rem 0 0.1rem;
  }
}
